body {
  font-family: "Lato", sans-serif;
}
main {
  margin-left: 296px;
}
header {
  padding-bottom: 32px;
}
h1 {
  display: block;
  height: 40px;
  width: 151px;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week5/logo-ANSWER.svg");
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  margin-bottom: 0;
}
a {
  color: $dark;
  text-decoration: none;
  &:hover {
    color: $success;
  }
}
